* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul.pagination {
    justify-content: space-between;
   
}

ul.pagination li {display: inline-block;
  margin:10px 0px 10px 0px;
 }

ul.pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 18px;
}


ul.pagination li a.active {
    background-color: #eee;
    color: black;
    border: 1px solid #ddd;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
body {
  width: 100vw;
  font-family: arial;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 0.5 px 1px rgb(255, 0, 0);
}
h2 {
  text-align: center;
  font-size: 40px;
  font-size: 30px;
  background-color: #eee;
}
.search {
  display: flex;
}
input {
  margin-top: 10px;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  background-image: url('/img/search.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
  padding: 12px 20px 12px 40px;
  font-size:15px;
  box-shadow: 00px 1px 1px 0px red;
}
input:focus{
  width: 100%;
}

span:hover {
  background-color: rgb(228, 228, 228);
}
table {
  border-collapse: collapse;

  font-family: sans-serif;
}

table,
.td,.th
 {
  border: 1px solid black;
  padding: 20px;
}
td{
  border: 1px solid black;
}

.td {
  padding: 8px;
  width: 45vw;
}

/* selects odd rows */
tr:nth-child(odd) {
  background: white;
  color: black;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0, 4s;
}

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  /* Unicode character for "plus" sign
(+) is '\02795' */

  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  /* Unicode character for "minus" sign
(-) is '\2796' */

  content: "\2796";
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 2500px;
}
@media(max-width:550px){
  td{
    font-size: 10px;
  }
}
